<template>
  <v-app>
    <v-card>
      <v-container fluid >
        <div class="title-container">
          <h1 class="primary--text title">KIPs (last month)</h1>
        </div>

        <v-layout wrap justify-center>
          <v-flex xs6 justify-center sm6 d-flex>
            <v-select
              :items="companies"
              item-text="name"
              item-value="_id"
              label="Select"
              return-object
              single-line
              v-on:change="setCompany"
            ></v-select>
          </v-flex>
        </v-layout>
        <v-layout v-if="selectedCompany" wrap justify-center>
            <company-stats v-bind:company="selectedCompany"></company-stats>
        </v-layout>
      </v-container>
    </v-card>
  </v-app>
</template>

<style scoped>
.title-container {
  padding: 10px;
  border-bottom: 1px solid #cccccc;
}
</style>

 
<script>
import { Companies } from "../lib/api/companies.js";
import { Ratings } from "../lib/api/ratings.js";
import { Meteor } from "meteor/meteor";
export default {
  data() {
    return {
      companies: [],
      selectedCompany: null
    };
  },
  mounted() {
    this.$autorun(() => {
      this.companies = Companies.find({}).fetch();
      var ratings = Ratings.find({}).fetch();
      this.companies.forEach(company => {
        company.ratings = ratings.filter(rating => {
          return rating.company._str == company._id._str;
        });
      });
    });
  },
  methods: {
    calculateOverallRating(ratings) {
      var overallRating = 0;
      ratings.forEach(rating => {
        overallRating +=
          (rating.basicCare +
            rating.householdSupply +
            rating.visualAppearance +
            rating.overall) /
          4;
      });
      return ((overallRating / ratings.length) * 100) / 5;
    },
    setCompany(company) {
      this.selectedCompany = company;
      console.log(this.selectedCompany);
    }
  },

  logCompanies() {
    var companies = Companies.find({}).fetch();
    var ratings = Ratings.find({}).fetch();
    console.log(companies);
    console.log(ratings);
  }
};
</script>

