<template>
  <v-layout v-if="company" row wrap justify-center>
    <v-flex wrap justify-center xs10>
      <v-layout wrap row justify-center>
        <v-flex class="xs4 justify-center layout">
          <v-layout column justify-center align-center>
            <img src="/Assets/Pfleglisoft.png" height="100px" width="100px">
            <h2 class="primary--text">{{customerWinningRate}}%</h2>
            <h3 class="primary--text">Customer winning rate</h3>
            <p class="reset-margin-bottom">New customers: {{company.newCustomers}}</p>
            <p class="reset-margin-bottom">Requests: {{company.customerRequests}}</p>
          </v-layout>
        </v-flex>
        <v-flex class="xs4 justify-center layout">
          <v-layout column justify-center align-center>
            <img src="/Assets/Pfleglisoft.png" height="100px" width="100px">
            <h2 class="primary--text">{{orderFulfillment}}%</h2>
            <h3 class="primary--text">Order fulfillment</h3>
            <p class="reset-margin-bottom">Fulfilled orders: {{company.fulfilledOrders}}</p>
            <p class="reset-margin-bottom">Orders: {{company.orders}}</p>
          </v-layout>
        </v-flex>
        <v-flex class="xs4 justify-center layout">
          <v-layout column justify-center align-center>
            <img src="/Assets/Pfleglisoft.png" height="100px" width="100px">
            <h2 class="primary--text">{{customerSatisfaction}}%</h2>
            <h3 class="primary--text">Customer satisfaction</h3>
            <p class="reset-margin-bottom">Recieved ratings: {{company.ratings.length}}</p>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
</template>

<style scoped>
.reset-margin-bottom {
  margin-bottom: 0;
}
</style>

 
<script>
export default {
  data() {
    return {
      customerWinningRate: 0,
      orderFulfillment: 0,
      customerSatisfaction: 0
    };
  },
  mounted() {
    if (this.company) {
      this.calculateValues(this.company);
    }
  },
  props: ["company"],
  watch: {
    company: function(newval, oldval) {
      // calculate new values
      this.calculateValues(newval);
    }
  },
  methods: {
    calculateOverallRating(ratings) {
      var overallRating = 0;
      ratings.forEach(rating => {
        overallRating +=
          (rating.basicCare +
            rating.householdSupply +
            rating.visualAppearance +
            rating.overall) /
          4;
      });
      return ((overallRating / ratings.length) * 100) / 5;
    },
    calculateValues(company) {
      if (company) {
        this.customerWinningRate = Math.round(
          (company.newCustomers / company.customerRequests) * 100
        );
        this.orderFulfillment = Math.round(
          (company.fulfilledOrders / company.orders) * 100
        );
        this.customerSatisfaction = Math.round(
          this.calculateOverallRating(company.ratings)
        );
      }
    }
  }
};
</script>

